{% extends 'base.html.twig' %}

{% block title %}Modifier le Mot de Passe{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1 class="mb-4">Modifier le Mot de Passe</h1>

        <div class="card">
            <div class="card-header">
                <h5 class="m-0">Formulaire de modification du mot de passe</h5>
            </div>
            <div class="card-body">
                {% if app.flashes('success') %}
                    <div class="alert alert-success">
                    
                        {% for message in app.flashes('success') %}
                            <p>{% dump(message) %}</p>
                        {% endfor %}
                    </div>
                {% endif %}

                {% if app.flashes('error') %}
                    <div class="alert alert-danger">
                    {% dump(app.flashes('error')) %}
                        {% for message in app.flashes('error') %}
                            <p>{% dump(message) %}</p>
                        {% endfor %}
                    </div>
                {% endif %}


                {{ form_start(form, {'attr': {'class': 'form'}}) }}
                    <div class="mb-3">
                        {{ form_row(form.current_password, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="mb-3">
                        {{ form_row(form.new_password, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="mb-3">
                        {{ form_row(form.confirm_password, {'attr': {'class': 'form-control'}}) }}
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}