{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1 class="mb-4">Mon compte</h1>

        <div class="card">
            <div class="card-header">
                <h5 class="m-0">Mon profil</h5>
            </div>
            <div class="card-body">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <th scope="row">ID</th>
                            <td>{{ user.id }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Nom d'utilisateur</th>
                            <td>{{ user.username }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Rôles</th>
                            <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Nom complet</th>
                            <td>{{ user.fullname }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Date d'inscription</th>
                            <td>{{ user.registrationDate ? user.registrationDate|date('Y-m-d') : '' }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="card-footer text-end">
                <a href="{{ path('app_profile_update')}}" class="btn btn-warning">Modifier mes informations</a>
            </div>
        </div>
    </div>
{% endblock %}