{% extends 'base.html.twig' %}

{% block title %}Détails de la Banque{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1 class="mb-4">Détails de la Banque</h1>

        <div class="card">
            <div class="card-header">
                <h5 class="m-0">Informations sur la Banque</h5>
            </div>
            <div class="card-body">
                <table class="table table-bordered">
                    <tbody>
                        {#<tr>
                            <th scope="row">Id</th>
                            <td>{{ bank.id }}</td>
                        </tr>
                        #}
                        <tr>
                            <th scope="row">Banque</th>
                            <td>{{ bank.bankCode }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Adresse</th>
                            <td>{{ bank.address }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Contact</th>
                            <td>{{ bank.contact }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Date de signature</th>
                            <td>{{ bank.date ? bank.date|date('Y-m-d') : '' }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Email par défaut</th>
                            <td>{{ bank.defaultEmail }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Site Web</th>
                            <td>{{ bank.website }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Numéro par défaut</th>
                            <td>{{ bank.defaultNumber }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="card-footer text-end">
                <a href="{{ path('app_bank_index') }}" class="btn btn-secondary">Retour à la liste</a>
                <a href="{{ path('app_bank_edit', {'id': bank.id}) }}" class="btn btn-warning">Modifier</a>
            </div>
        </div>
    </div>
{% endblock %}